<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row flex-fill">
        <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3">
            <div class="card shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1464808646948-8f732deb6e4b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" class="validated-form" method="POST" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input
                                type="text"
                                class="form-control"
                                name="username"
                                id="username"
                                required
                                autofocus
                            />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input
                                type="email"
                                class="form-control"
                                name="email"
                                id="email"
                                required
                            />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                id="password"
                                required
                            />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Register</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







